In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
from src.utils.logger_config import GetLogger

In [3]:
logger=GetLogger('teja').get_logger()

In [4]:
logger.debug('hi teja')

2025-07-21 23:26:41,421 - teja - DEBUG - hi teja

In [5]:
logger.info('akdkhd')

2025-07-21 23:26:41,440 - teja - INFO - akdkhd

In [7]:
from src.utils.load_data import DataLoader
loader=DataLoader()
df=loader.load_dataset('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')

2025-07-21 23:55:37,533 - load_data - INFO - Loading Data from file...
2025-07-21 23:55:37,637 - load_data - INFO - Excel Dataset Loaded Successfully!
2025-07-21 23:55:37,637 - load_data - INFO -  Dataset Shape: 1200 rows and 28 columns.

In [8]:
from src.utils.utils import basic_checks
basic_checks(df)

<bound method DataFrame.to_string of   EmpNumber  Age Gender EducationBackground MaritalStatus    EmpDepartment  \
0  E1001000   32   Male           Marketing        Single            Sales
1  E1001006   47   Male           Marketing        Single            Sales
2  E1001007   40   Male       Life Sciences       Married            Sales
3  E1001009   41   Male     Human Resources      Divorced  Human Resources
4  E1001010   60   Male           Marketing        Single            Sales

        EmpJobRole BusinessTravelFrequency  DistanceFromHome  \
0  Sales Executive           Travel_Rarely                10
1  Sales Executive           Travel_Rarely                14
2  Sales Executive       Travel_Frequently                 5
3          Manager           Travel_Rarely                10
4  Sales Executive           Travel_Rarely                16

   EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                  3  ...                            4
1                  4  ...                            4
2                  4  ...                            3
3                  4  ...                            2
4                  4  ...                            4

   TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                          10                      2                   2
1                          20                      2                   3
2                          20                      2                   3
3                          23                      2                   2
4                          10                      1                   3

   ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                            10                             7
1                             7                             7
2                            18                            13
3                            21                             6
4                             2                             2

  YearsSinceLastPromotion  YearsWithCurrManager  Attrition  PerformanceRating
0                       0                     8         No                  3
1                       1                     7         No                  3
2                       1                    12         No                  4
3                      12                     6         No                  3
4                       2                     2         No                  3

[5 rows x 28 columns]>

Dataset Shape: 1200 rows and 28 columns

Column Names:
['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus', 'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency', 'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel', 'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime', 'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction', 'TotalWorkExperienceInYears', 'TrainingTimesLastYear', 'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany', 'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition', 'PerformanceRating']

Data Types:
EmpNumber                       object
Age                              int64
Gender                          object
EducationBackground             object
MaritalStatus                   object
EmpDepartment                   object
EmpJobRole                      object
BusinessTravelFrequency         object
DistanceFromHome                 int64
EmpEducationLevel                int64
EmpEnvironmentSatisfaction       int64
EmpHourlyRate                    int64
EmpJobInvolvement                int64
EmpJobLevel                      int64
EmpJobSatisfaction               int64
NumCompaniesWorked               int64
OverTime                        object
EmpLastSalaryHikePercent         int64
EmpRelationshipSatisfaction      int64
TotalWorkExperienceInYears       int64
TrainingTimesLastYear            int64
EmpWorkLifeBalance               int64
ExperienceYearsAtThisCompany     int64
ExperienceYearsInCurrentRole     int64
YearsSinceLastPromotion          int64
YearsWithCurrManager             int64
Attrition                       object
PerformanceRating                int64
dtype: object

Missing Values:
EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

Summary Statistics:
<bound method DataFrame.to_string of                Age  DistanceFromHome  EmpEducationLevel  \
count  1200.000000       1200.000000         1200.00000
mean     36.918333          9.165833            2.89250
std       9.087289          8.176636            1.04412
min      18.000000          1.000000            1.00000
25%      30.000000          2.000000            2.00000
50%      36.000000          7.000000            3.00000
75%      43.000000         14.000000            4.00000
max      60.000000         29.000000            5.00000

       EmpEnvironmentSatisfaction  EmpHourlyRate  EmpJobInvolvement  \
count                 1200.000000    1200.000000        1200.000000
mean                     2.715833      65.981667           2.731667
std                      1.090599      20.211302           0.707164
min                      1.000000      30.000000           1.000000
25%                      2.000000      48.000000           2.000000
50%                      3.000000      66.000000           3.000000
75%                      4.000000      83.000000           3.000000
max                      4.000000     100.000000           4.000000

       EmpJobLevel  EmpJobSatisfaction  NumCompaniesWorked  \
count  1200.000000         1200.000000         1200.000000
mean      2.067500            2.732500            2.665000
std       1.107836            1.100888            2.469384
min       1.000000            1.000000            0.000000
25%       1.000000            2.000000            1.000000
50%       2.000000            3.000000            2.000000
75%       3.000000            4.000000            4.000000
max       5.000000            4.000000            9.000000

       EmpLastSalaryHikePercent  EmpRelationshipSatisfaction  \
count               1200.000000                  1200.000000
mean                  15.222500                     2.725000
std                    3.625918                     1.075642
min                   11.000000                     1.000000
25%                   12.000000                     2.000000
50%                   14.000000                     3.000000
75%                   18.000000                     4.000000
max                   25.000000                     4.000000

       TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
count                 1200.000000            1200.000000         1200.000000
mean                    11.330000               2.785833            2.744167
std                      7.797228               1.263446            0.699374
min                      0.000000               0.000000            1.000000
25%                      6.000000               2.000000            2.000000
50%                     10.000000               3.000000            3.000000
75%                     15.000000               3.000000            3.000000
max                     40.000000               6.000000            4.000000

       ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
count                   1200.000000                   1200.000000
mean                       7.077500                      4.291667
std                        6.236899                      3.613744
min                        0.000000                      0.000000
25%                        3.000000                      2.000000
50%                        5.000000                      3.000000
75%                       10.000000                      7.000000
max                       40.000000                     18.000000

       YearsSinceLastPromotion  YearsWithCurrManager  PerformanceRating
count              1200.000000           1200.000000        1200.000000
mean                  2.194167              4.105000           2.948333
std                   3.221560              3.541576           0.518866
min                   0.000000              0.000000           2.000000
25%                   0.000000              2.000000           3.000000
50%                   1.000000              3.000000           3.000000
75%                   3.000000              7.000000           3.000000
max                  15.000000             17.000000           4.000000  >

Categorical Columns:
['EmpNumber', 'Gender', 'EducationBackground', 'MaritalStatus', 'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency', 'OverTime', 'Attrition']

Duplicate Rows: 0

# Dataset Overview: INX Future Inc. Employee Performance

## Dataset Summary
- Total Records: 1200 employees
- Total Features: 28 columns
- No missing values
- No duplicate records

## Column Descriptions

### Identification
- EmpNumber: Unique identifier for each employee (drop during modeling)

### Demographics
- Age: Age of the employee
- Gender: Male or Female
- MaritalStatus: Marital status of the employee (Single, Married, Divorced)
- EducationBackground: Field of education (e.g., Marketing, Life Sciences)

### Job Details
- EmpDepartment: Department the employee belongs to (e.g., Sales, R&D)
- EmpJobRole: Specific job role (e.g., Manager, Sales Executive)
- BusinessTravelFrequency: Frequency of business travel (e.g., Travel_Rarely)
- DistanceFromHome: Distance to office (numeric)
- EmpJobLevel: Job level (1 to 5 scale)

### Education and Training
- EmpEducationLevel: Education level (1 to 5)
- TrainingTimesLastYear: Number of training programs attended last year

### Job Performance Metrics
- EmpEnvironmentSatisfaction: Satisfaction with work environment (1 to 4)
- EmpJobInvolvement: Level of involvement in job tasks
- EmpJobSatisfaction: Overall job satisfaction
- EmpRelationshipSatisfaction: Satisfaction with work relationships
- EmpWorkLifeBalance: Balance between personal and professional life (1 to 4)
- OverTime: Whether the employee works overtime (Yes or No)
- Attrition: Whether the employee has left the organization (Yes or No)
- PerformanceRating: Final performance score (Target variable, range: 2 to 4)

### Career History
- NumCompaniesWorked: Number of companies the employee has worked in
- TotalWorkExperienceInYears: Total work experience in years
- ExperienceYearsAtThisCompany: Years at INX
- ExperienceYearsInCurrentRole: Years in current job role
- YearsSinceLastPromotion: Years since last promotion
- YearsWithCurrManager: Years with the current manager

### Compensation
- EmpHourlyRate: Hourly salary
- EmpLastSalaryHikePercent: Last salary hike in percent

## Target Variable
- PerformanceRating: Performance score of the employee (2 = Low, 3 = Average, 4 = High)

## Categorical Columns
- EmpNumber
- Gender
- EducationBackground
- MaritalStatus
- EmpDepartment
- EmpJobRole
- BusinessTravelFrequency
- OverTime
- Attrition

## Numerical Columns
- All remaining columns are numerical or ordinal

## Notes
- No missing data or null values
- No duplicate entries
- Suitable for classification modeling

In [9]:
df

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,...,2,6,3,3,6,5,0,4,No,4
1196,E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,...,1,4,2,3,1,0,0,0,No,3
1197,E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,...,3,20,3,3,20,8,3,8,No,3
1198,E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,...,2,9,3,4,8,7,7,7,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,...,1,4,3,3,2,2,2,0,Yes,2

In [10]:
num_df=df.select_dtypes(exclude='O')

In [11]:
num_df

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
0,32,10,3,4,55,3,2,4,1,12,4,10,2,2,10,7,0,8,3
1,47,14,4,4,42,3,2,1,2,12,4,20,2,3,7,7,1,7,3
2,40,5,4,4,48,2,3,1,5,21,3,20,2,3,18,13,1,12,4
3,41,10,4,2,73,2,5,4,3,15,2,23,2,2,21,6,12,6,3
4,60,16,4,1,84,3,2,1,8,14,4,10,1,3,2,2,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,27,3,1,4,71,4,2,4,1,20,2,6,3,3,6,5,0,4,4
1196,37,10,2,4,80,4,1,4,3,17,1,4,2,3,1,0,0,0,3
1197,50,28,1,4,74,4,1,3,1,11,3,20,3,3,20,8,3,8,3
1198,34,9,3,4,46,2,3,2,1,14,2,9,3,4,8,7,7,7,3
1199,24,3,2,1,65,3,2,3,9,14,1,4,3,3,2,2,2,0,2

In [16]:
ls=[]
for col in num_df.columns:
    if df[col].nunique()>20:
        ls.append(col)
        print(df[col].nunique())
        print(f'column is continous: {col}')

43
column is continous: Age
29
column is continous: DistanceFromHome
71
column is continous: EmpHourlyRate
40
column is continous: TotalWorkExperienceInYears
37
column is continous: ExperienceYearsAtThisCompany

In [ ]:
for col in  [col for col in num_df.columns if col :
    if df[col].nunique()>2:
        print(df[col].nunique())
        print(f'column is continous: {col}')

ValueError: The truth value of a Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().